#adapted from example in docker documentation
version: '3'

services:
  web:
    build: .
    volumes:
       - .:/code
    ports:
       - 8000:80
    command: python /code/firstWeb/manage.py runserver 0.0.0.0:8000
