<div class="box border mt-3" style="width: 100%; height: auto;">
    <div class="row">
        <div class="col-6 pl-4 pt-3">
            <img src="https://i.ya-webdesign.com/images/teacher-clip-filipino-3.png" class="img-thumbnail border-0" style="display: inline; height: 3em;">
            <span class="font-weight-normal" style="display: inline;">Subhed Chavan</span> &middot;
            <p style="display: inline; font-size: .9em; color: #d3d3d3;">Movie</p>

        </div>
        <div class="col-6 pt-4 pr-4 text-right">
            <p class="mr-1" style="color: #d3d3d3; font-size: .9em;"><i class="far fa-clock"></i> Now</p>
        </div>
        <div class="col-6 pl-4 pt-3">
            <p style="display: inline; font-size: .9em; color: #000;" class="pl-1">Some text goes here.</p>

        </div>




    </div>
    <iframe class="p-3" style="width: 100%; height: 15em;" id="gmap_canvas" src="https://maps.google.com/maps?q=chico&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

</div>